@import url("https://fonts.googleapis.com/css2?family=DM+Mono:wght@400;500&family=Inter:wght@400;500;600&display=swap");

body {
  font-family: "inter", "DM sans", sans-serif;
  color: antiquewhite;
  background-color: #042946;
  font-weight: 500;
}
